---
---

<div class="productCardTemplate card mb-2 bg-white shadow-xl">
  <div class="card-body">
    <h2 class="productTitle card-title">Produkt 1</h2>

    <div class="card-actions">
      <div class="ml-auto flex flex-col items-end">
        <div class="form-control w-full max-w-xs">
          <label class="label">
            <span class="productQuantity pr-2">Menge:</span>
            <select class="select-bordered select select-sm ml-auto">
              <option>1</option>
              <option>2</option>
              <option>3</option>
            </select>
          </label>
        </div>
        <p class="text-xl">Preis: 34,99€</p>
        <button class="btn-neutral btn-xs">Entfernen</button>
      </div>
    </div>
  </div>
</div>
