---
---

<div>
  <input type="checkbox" id="acc" class="modal-toggle" />
  <div class="modal">
    <div class="modal-box max-w-sm">
      <div class="tabs">
        <a id="logintab" class="tab-lifted tab tab-active tab-lg">Login</a>
        <a id="registertab" class="tab-lifted tab tab-lg">Registrieren</a>
      </div>

      <div id="loginForm" class="login">
        <form>
          <div class="form-control w-full max-w-xs">
            <label class="label">
              <span class="label-text">Email</span>
            </label>
            <input
              type="email"
              placeholder="Hier eingeben"
              class="input-bordered input w-full max-w-xs"
              name="email"
              required
            />
          </div>
          <div class="form-control w-full max-w-xs">
            <label class="label">
              <span class="label-text">Password</span>
            </label>
            <input
              type="password"
              placeholder="Hier eingeben"
              class="input-bordered input w-full max-w-xs"
              name="password"
              required
            />
          </div>
        </form>
      </div>

      <div id="registerform" class="register hidden">
        <form>
          <div class="flex justify-end">
            <div class="form-control w-full max-w-xs pr-2">
              <label class="label">
                <span class="label-text">Vorname</span>
              </label>
              <input
                type="text"
                placeholder="Hier eingeben"
                class="input-bordered input w-full max-w-xs"
                name="firstName"
                required
              />
            </div>
            <div class="form-control w-full max-w-xs">
              <label class="label">
                <span class="label-text">Nachname</span>
              </label>
              <input
                type="text"
                placeholder="Hier eingeben"
                class="input-bordered input w-full max-w-xs"
                name="lastName"
                required
              />
            </div>
          </div>

          <div class="form-control w-full max-w-xs">
            <label class="label">
              <span class="label-text">Email</span>
            </label>
            <input
              type="email"
              placeholder="Hier eingeben"
              class="input-bordered input w-full max-w-xs"
              name="email"
              required
            />
          </div>
          <div class="form-control w-full max-w-xs">
            <label class="label">
              <span class="label-text">Passwort</span>
            </label>
            <input
              type="password"
              placeholder="Hier eingeben"
              class="input-bordered input w-full max-w-xs"
              name="password"
              required
            />
          </div>
          <div class="form-control w-full max-w-xs">
            <label class="label">
              <span class="label-text">Straße</span>
            </label>
            <input
              type="text"
              placeholder="Hier eingeben"
              class="input-bordered input w-full max-w-xs"
              name="street"
              required
            />
          </div>
          <div class="flex justify-end">
            <div class="form-control w-full max-w-xs pr-2">
              <label class="label">
                <span class="label-text">Hausnr.</span>
              </label>
              <input
                type="text"
                placeholder="Hier eingeben"
                class="input-bordered input w-full max-w-xs"
                name="lastName"
                required
              />
            </div>
            <div class="form-control w-full max-w-xs">
              <label class="label">
                <span class="label-text">PLZ</span>
              </label>
              <input
                type="text"
                placeholder="Hier eingeben"
                class="input-bordered input w-full max-w-xs"
                name="plz"
                required
              />
            </div>
          </div>

          <div class="form-control w-full max-w-xs">
            <label class="label">
              <span class="label-text">Stadt</span>
            </label>
            <input
              type="text"
              placeholder="Hier eingeben"
              class="input-bordered input w-full max-w-xs"
              name="city"
              required
            />
          </div>
          <div class="form-control w-full max-w-xs">
            <label class="label">
              <span class="label-text">Land</span>
            </label>
            <select class="select-bordered select w-full max-w-xs">
              <option disabled selected>Auswählen</option>
              <option>Deutschland</option>
              <option>Schweiz</option>
              <option>Österreich</option>
              <option>Großbritannien</option>
            </select>
          </div>
        </form>
      </div>

      <div class="modal-open modal-action">
        <label for="acc" class="btn-ghost modal-open btn"> Abbruch</label>
        <button id="loginButton" class="btn-primary modal-open btn"
          >Login</button
        >
        <button id="registerButton" class="btn-primary modal-open btn hidden"
          >Registrieren</button
        >
      </div>
    </div>
  </div>
</div>

<script>
  const loginTab = document.getElementById("logintab");
  const registerTab = document.getElementById("registertab");
  const loginForm = document.getElementById("loginForm");
  const registerForm = document.getElementById("registerform");
  const loginButton = document.getElementById("loginButton");
  const registerButton = document.getElementById("registerButton");

  loginTab.addEventListener("click", () => {
    loginTab.classList.add("tab-active");
    registerTab.classList.remove("tab-active");
    loginForm.classList.remove("hidden");
    registerForm.classList.add("hidden");
    loginButton.classList.remove("hidden");
    registerButton.classList.add("hidden");
  });

  registerTab.addEventListener("click", () => {
    loginTab.classList.remove("tab-active");
    registerTab.classList.add("tab-active");
    loginForm.classList.add("hidden");
    registerForm.classList.remove("hidden");
    loginButton.classList.add("hidden");
    registerButton.classList.remove("hidden");
  });
</script>
