---
---

<div>
  <input type="checkbox" id="buy" class="modal-toggle" />
  <div class="modal">
    <div class="modal-box max-w-sm">
      <h3 class="text-lg font-bold">Bitte gib die Menge an</h3>
      <div class="form-control w-full max-w-xs">
        <label class="label">
          <span class="label-text">Menge</span>
        </label>
        <select class="select-bordered select w-full max-w-xs">
          <option>1</option>
          <option>2</option>
          <option>3</option>
        </select>
      </div>
      <div class="modal-open modal-action">
        <label for="buy" class="btn-ghost modal-open btn"> Abbruch</label>
        <button class="btn-accent modal-open btn">In den Warenkorb</button>
      </div>
    </div>
  </div>
</div>
