---
import type { Product } from "../typings/product.js";

export interface Props {
  product: Product;
}

const { product } = Astro.props;
---

<div class="card bg-white shadow-xl">
  <div class="card-body">
    <h2 class="card-title">{product.title}</h2>
    <div class="collapse-plus rounded-box collapse bg-neutral-100 shadow-md">
      <input type="checkbox" />
      <div class="text-m collapse-title font-medium">Beschreibung lesen</div>
      <div class="collapse-content">
        <p>
          {product.description}
        </p>
      </div>
    </div>

    <div class="card-actions">
      <div>
        <p class="text-primary">Bestand: {product.quantity}</p>
        <p class="text-xl">Preis: {product.price}€</p>
      </div>

      <div
        class="tooltip tooltip-bottom tooltip-primary ml-auto"
        data-tip="Bitte melde dich an."
      >
        <label for="cart" class="cartButton btn-accent btn-disabled btn"
          >In den Warenkorb</label
        >
      </div>
    </div>
  </div>
</div>

<script>
  let account;
  setTimeout(() => {
    account = document.getElementById("account").innerHTML;
    if (account !== "Account") {
      let buttons = document.querySelectorAll(".cartButton");
      [].forEach.call(buttons, function (e) {
        e.classList.remove("btn-disabled");
      });
    }
  }, 200);
</script>
