---
---

<div>
  <input type="checkbox" id="cart" class="modal-toggle" />
  <div class="modal">
    <div class="modal-box max-w-sm">
      <h3 class="text-lg font-bold">Warenkorb</h3>
      <p class="py-4">Möchtest du wirklich weniger Freunde haben?</p>
      <div class="modal-open modal-action">
        <label for="create" class="btn-ghost btn"> Abbruch</label>
        <button class="btn-error modal-open btn">Ja</button>
      </div>
    </div>
  </div>
</div>
