---
import type { Friend } from "../typings/friend.js";

const errors = { firstName: "", lastName: "", bday: "" };
if (Astro.request.method === "POST") {
  try {
    const data = await Astro.request.formData();
    const firstName = data.get("firstName");
    const lastName = data.get("lastName");
    const bday = data.get("bday");
    const food = data.get("food");
    const animal = data.get("animal");
    const dino = data.get("dino");
    if (typeof firstName !== "string" || firstName.length < 1) {
      errors.firstName += "Bitte gib den Namen an.";
    }
    if (typeof lastName !== "string" || lastName.length < 1) {
      errors.firstName += "Bitte gib den Namen an.";
    }
    if (typeof bday !== "string" || bday.length < 1) {
      errors.firstName += "Bitte gib den Geburtstag an.";
    }
    if (!Object.keys(errors).length) {
      await Friend({ firstName, lastName, bday, food, animal, dino });
      return Astro.redirect("http://localhost:3000");
    }
    return Astro.redirect("http://localhost:3000");

    // Do something with the data
  } catch (error) {
    if (error instanceof Error) {
      console.error(error.message);
    }
  }
}
---

<script>
  var form = document.getElementById("myForm");
  form.onsubmit = function (event) {
    var xhr = new XMLHttpRequest();
    var formData = new FormData(form);
    //open the request
    xhr.open("POST", "http://localhost:8080/friend");
    xhr.setRequestHeader("Content-Type", "application/json");

    //send the form data
    xhr.send(JSON.stringify(Object.fromEntries(formData)));

    xhr.onreadystatechange = function () {
      if (xhr.readyState == XMLHttpRequest.DONE) {
        form.reset();
        location.reload(); //reset form after AJAX success or do something else
      }
    };
    //Fail the onsubmit to avoid page refresh.
    return false;
  };
</script>

<label for="create" class="btn-success btn">Freund hinzufügen</label>

<form action="http://localhost:8080/friend" method="POST" id="myForm">
  <input type="checkbox" id="create" class="modal-toggle" />
  <div class="modal">
    <div class="modal-box max-w-sm">
      <h3 class="text-lg font-bold">Freund hinzufügen</h3>
      <div class="form-control w-full max-w-xs">
        <label class="label">
          <span class="label-text">Vorname</span>
        </label>
        <input
          type="text"
          placeholder="Type here"
          class="input-bordered input w-full max-w-xs"
          name="firstName"
          required
        />
        {errors.firstName && <p>{errors.firstName}</p>}
      </div>
      <div class="form-control w-full max-w-xs">
        <label class="label">
          <span class="label-text">Nachname</span>
        </label>
        <input
          type="text"
          placeholder="Type here"
          class="input-bordered input w-full max-w-xs"
          name="lastName"
          required
        />
        {errors.lastName && <p>{errors.lastName}</p>}
      </div>
      <div class="form-control w-full max-w-xs">
        <label class="label">
          <span class="label-text">Geburtstag</span>
        </label>
        <input
          type="date"
          placeholder="Type here"
          class="input-bordered input w-full max-w-xs"
          name="bday"
          required
        />
        {errors.bday && <p>{errors.bday}</p>}
      </div>
      <div class="form-control w-full max-w-xs">
        <label class="label">
          <span class="label-text">Liebingsessen</span>
        </label>
        <input
          type="text"
          placeholder="Type here"
          class="input-bordered input w-full max-w-xs"
          name="food"
        />
      </div>
      <div class="form-control w-full max-w-xs">
        <label class="label">
          <span class="label-text">Liebingstier</span>
        </label>
        <input
          type="text"
          placeholder="Type here"
          class="input-bordered input w-full max-w-xs"
          name="animal"
        />
      </div>
      <div class="form-control w-full max-w-xs">
        <label class="label">
          <span class="label-text">Liebingsdino</span>
        </label>
        <input
          type="text"
          placeholder="Type here"
          class="input-bordered input w-full max-w-xs"
          name="dino"
        />
      </div>
      <div class="modal-action">
        <input
          type="submit"
          formmethod="post"
          class="btn-success btn"
          value="Speichern"
        />
      </div>
    </div>
  </div>
</form>
